<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="add('/api/events/add')">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Event Name</th>
                    <th>Event Date</th>
                    <th>Event State</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].event_name%></td>
                    <td><%=data[i].event_date%></td>
                    <td><%=data[i].event_state%></td>
                    <td>
                        <a class="a-inside edit" href="../api/events/edit/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../api/eventsrs/delete/<%=data[i].id%>">Delete</a>

                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No Events</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
